*{
    box-sizing: border-box;
}

body
{ 
    background-color: #dbe2d4;
    font-family: 'Cabin', sans-serif;
}

canvas{
    display: block;
    margin: auto;
}

#title
{
    font-size: 6rem;
    
}

#info
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.phrase
{
    margin: 3rem;
}